{% extends "base.html" %}
{% load static %}
{% block title %}{{request.user.username}}@Dashboard{% endblock %}

{% block header %}
<section>
  <div class="text-center h1">{{request.user.username}}@Dashboard</div>
  <div class="row">
    <div class="col">
      <div class="bg-success color-box"></div>
      <span class="title">Ongoing</span>
    </div>
    <div class="col">
      <div class="bg-warning color-box"></div>
      <span class="title">Upcoming</span>
    </div>
    <div class="col">
      <div class="bg-danger color-box"></div>
      <span class="title">Ended</span>
    </div>
  </div>
  <a href="{% url 'my-programs' %}" class="btn btn-dark shadow">My Collection</a>
</section>
{% endblock %}

{% block content %}
<section class="mt-3 border border-success p-1 rounded">
  <h4 class="title">Ongoing</h4>
  {% for programs in ongoing %}
  <div class="card mb-1 shadow">
    <div class="row">
      <div class="col-3 col-md-2 mx-0 d-flex">
        <img
            src="{% static 'img.png' %}"
            class="img-fluid rounded"
            alt="..."
            />
      </div>
      <div class="col-9 col-md-10 mx-0">
        <h5 class="card-title title">{{programs.program.name}}</h5>
        <div class="row">
          <div class="col">{{userprograms.program.television}}</div>
          <div class="col">{{userprograms.program.time}}</div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="d-flex justify-content-center w-100">
    <span class="text-success">Nothing Ongoing Now</span>
  </div>
  {% endfor %}
  {% if ongoing_len > 3 %}
  <div class="text-center">
    <button type="button" class="btn btn-dark">All</button>
  </div>
  {% endif %}
</section>
<section class="mt-3 border border-warning p-1 rounded">
  <h4 class="title">Upcoming</h4>
  {% for userprograms in upcoming %}
  <div class="card mb-1 shadow">
    <div class="row">
      <div class="col-3 col-md-2 mx-0 d-flex">
        <img
            src="{% static 'img.png' %}"
            class="img-fluid rounded"
            alt="..."
            />
      </div>
      <div class="col-9 col-md-10 mx-0">
        <h5 class="card-title title">{{userprograms.program.name}}</h5>
        <div class="row">
          <div class="col">{{userprograms.program.television}}</div>
          <div class="col">{{userprograms.program.time}}</div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="d-flex justify-content-center w-100">
    <span class="text-warning">Nothing Upcoming Day</span>
  </div>
  {% endfor %}
  {% if upcoming_len > 3 %}
  <div class="text-center">
    <button type="button" class="btn btn-dark">All</button>
  </div>
  {% endif %}
</section>

<section class="mt-3 border border-danger p-1 rounded">
  <h4 class="title">Ended</h4>
  {% for userprograms in ended %}
  <div class="card mb-1 shadow">
    <div class="row">
      <div class="col-3 col-md-2 mx-0 d-flex">
        <img
            src="{% static 'img.png' %}"
            class="img-fluid rounded"
            alt="..."
            />
      </div>
      <div class="col-9 col-md-10 mx-0">
        <h5 class="card-title title">{{userprograms.program.name}}</h5>
        <div class="row">
          <div class="col">{{userprograms.program.television}}</div>
          <div class="col">{{userprograms.program.time}}</div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="d-flex justify-content-center w-100">
    <span class="text-danger">Nothing Has Ended</span>
  </div>
  {% endfor %}
  {% if ended_len > 3 %}
  <div class="text-center">
    <button type="button" class="btn btn-dark">All</button>
  </div>
  {% endif %}
</section>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Time</th>
      <th scope="col">Show</th>
      <th scope="col">TV</th>
    </tr>
  </thead>
  <tbody>
    {% for _ in "xxxx" %}
    <tr scope="row">
      <td>Monday</td>
      <td>16:46</td>
      <td>Deep Talk</td>
      <td>Monday</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
