{% extends "base.html" %}
{% load static %}
{% block title %}{{request.user.username}}@Dashboard{% endblock %}

{% block header %}
<section>
  <div class="text-center h1">{{request.user.username}}@Dashboard</div>
  <div class="row">
    <div class="col">
      <div class="bg-success color-box"></div>
      <span class="title">Ongoing</span>
    </div>
    <div class="col">
      <div class="bg-warning color-box"></div>
      <span class="title">Upcoming</span>
    </div>
    <div class="col">
      <div class="bg-danger color-box"></div>
      <span class="title">Ended</span>
    </div>
  </div>
  <a href="{% url 'home' %}" class="btn btn-dark shadow">Home</a>
  <a href="{% url 'my-programs' %}" class="btn btn-dark shadow">My Collection</a>
</section>
{% endblock %}

{% block content %}
<section class="mt-3 border border-success p-1 rounded">
  <h4 class="title">Ongoing</h4>
  {% for user_program in ongoing %}
  <div class="card mb-1 shadow">
    <div class="row">
      <div class="col-3 col-md-2 mx-0 d-flex">
        <img
            src="{% static 'img.png' %}"
            class="img-fluid rounded"
            alt="..."
            />
      </div>
      <div class="col-9 col-md-10 mx-0" onclick="viewProgram({{user_program.program.id}})">
        <h5 class="card-title title">{{user_program.program.name}}</h5>
        <div class="row">
          <div class="col">{{user_program.program.television}}</div>
          <div class="col">{{user_program.program.time}}</div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="d-flex justify-content-center w-100">
    <span class="text-success">Nothing Ongoing Now</span>
  </div>
  {% endfor %}
  {% if ongoing_len > 3 %}
  <div class="text-center">
    <button type="button" class="btn btn-dark">All</button>
  </div>
  {% endif %}
</section>
<section class="mt-3 border border-warning p-1 rounded">
  <h4 class="title">Upcoming</h4>
  {% for user_program in upcoming %}
  <div class="card mb-1 shadow">
    <div class="row">
      <div class="col-3 col-md-2 mx-0 d-flex">
        <img
            src="{% static 'img.png' %}"
            class="img-fluid rounded"
            alt="..."
            />
      </div>
      <div class="col-9 col-md-10 mx-0" onclick="viewProgram({{user_program.program.id}})">
        <h5 class="card-title title">{{user_program.program.name}}</h5>
        <div class="row">
          <div class="col">{{user_program.program.television}}</div>
          <div class="col">{{user_program.program.time}}</div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="d-flex justify-content-center w-100">
    <span class="text-warning">Nothing Upcoming Day</span>
  </div>
  {% endfor %}
  {% if upcoming_len > 3 %}
  <div class="text-center">
    <button type="button" class="btn btn-dark">All</button>
  </div>
  {% endif %}
</section>

<section class="mt-3 border border-danger p-1 rounded">
  <h4 class="title">Ended</h4>
  {% for user_program in ended %}
  <div class="card mb-1 shadow">
    <div class="row">
      <div class="col-3 col-md-2 mx-0 d-flex">
        <img
            src="{% static 'img.png' %}"
            class="img-fluid rounded"
            alt="..."
            />
      </div>
      <div class="col-9 col-md-10 mx-0" onclick="viewProgram({{user_program.program.id}})">
        <h5 class="card-title title">{{user_program.program.name}}</h5>
        <div class="row">
          <div class="col">{{user_program.program.television}}</div>
          <div class="col">{{user_program.program.time}}</div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="d-flex justify-content-center w-100">
    <span class="text-danger">Nothing Has Ended</span>
  </div>
  {% endfor %}
  {% if ended_len > 3 %}
  <div class="text-center">
    <button type="button" class="btn btn-dark">All</button>
  </div>
  {% endif %}
</section>
<h2 class="text-center title mt-3">My LineUp</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Show</th>
      <th scope="col">Time</th>
      <th scope="col">TV</th>
      <th scope="col">Days</th>
    </tr>
  </thead>
  <tbody>
    {% for user_program in user_programs %}
    <tr scope="row">
      <td>{{user_program.program.name}}</td>
      <td>{{user_program.program.time}}</td>
      <td>{{user_program.program.television}}</td>
      <td>{{user_program.program.days}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-flex justify-content-end mt-5">
  <a href="{% url 'auth-logout' %}" class="btn btn-dark text-danger shadow">Logout <i class="bi bi-door-open"></i></a>
</div>
{% endblock %}
