{% extends "base.html" %} 
{% block title%}login{% endblock %} 
{% block content%}
<div class="row d-flex align-items-center justify-content-center" style="width:100vw;height:100vh">
  <div class="col-md-8">
    <div class="content-section">
      <fieldset class="rounded shadow">
        <legend class="border-bottom text-center text-info mb-4 h1" style="color: white">
          Log In
        </legend>
        {% if message %}
        <div class="alert alert-danger text-center">{{message}}</div>
        {% endif %}

        <form method="POST">
          {% csrf_token %}
          <div style="color: #9ab">
            <div class="form-floating mb-3">
              <input
                  type="text"
                  name="username"
                  class="form-control"
                  placeholder=" "
                  required
                  {% if username %}
                    value="{{username}}"
                  {% endif %}
                  />
              <div class="error"></div>
              <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder=" "
                  required
                  />
              <div class="error"></div>
              <label for="password">Password</label>
            </div>
          </div>
          <div class="form-group px-4">
            <button class="btn btn-outline-info" type="submit">
              Log In
            </button>
          </div>
        </form>
        <div class="border-top p-2 m-2">
          <small class="text-muted">
            Don't Have An Account? <a class="ml-2" href="{% url 'auth-signup'%}">Sign Up</a>
          </small>
        </div>
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}
