{% extends "base.html" %} 
{% block title %}{% endblock %}
{% load static %}

{% block header %}
<div class="col d-flex justify-content-center mt-1"><h3 class="title">Tv program Tracker</h3></div>
<div class="d-flex justify-content-center">
  <div>
    <div class="d-flex justify-content-center" onclick="viewDashboard()">
      <img src="{% static 'imgs/avatar.png' %}" class="img-fluid rounded-circle" alt="..." width="60" height="60"/>
    </div>
    <div class="d-flex justify-content-center"><b class="">{{request.user.username}}</b></div>
  </div>
</div>
  <div class="d-flex justify-content-center">
    <div class="col-md-7">
      <form method="POST">
        {% csrf_token %}
        <div
            class="input-group search p-3 rounded shadow"
            style="background-color: #242821"
            >
            <input
                type="search"
                name="search"
                class="form-control"
                list="program-genres"
                placeholder="Search..."
                aria-label="Search"
                aria-describedby="search-icon"
                />
            <div class="dropdown">
              <button
                  class="icon-btn bg-light dropdown-toggle rounded-0"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ></button>
              <ul class="dropdown-menu">
                <li>
                  <input type="radio" value="name" name="search-by" class="mx-3" checked />
                  <span class="mx-1">Name</span>
                </li>
                <li>
                  <input type="radio" value="genre" name="search-by" class="mx-3" />
                  <span class="mx-1">Genre</span>
                </li>
                <li>
                  <input type="radio" value="television" name="search-by" class="mx-3" />
                  <span class="mx-1">Television</span>
                </li>
              </ul>
            </div>
            <span class="input-group-text" id="search-icon">
              <i class="bi bi-search"></i>
            </span>
        </div>
        <datalist id="program-genres">
          {% for genre in program_genres  %}
          <option value="{{genre}}">{{genre}}</option>
          {% endfor %}
        </datalist>
      </form>
    </div>
  </div>

  <div class="row mt-1 d-flex flex-nowrap overflow-auto scroll-bar-none">
    <div class="col mx-0 mb-2">
      {% if p_filter == "name" %}
        <button type="button" class="btn btn-dark active">Name</button>
      {% else %}
        <a href="{% url 'home' %}?p_filter=name" class="btn btn-dark">Name</a>
      {% endif %}
    </div>
    <div class="col mx-0 mb-2">
      {% if p_filter == "-time" %}
        <button type="button" class="btn btn-dark active">Time</button>
      {% else %}
        <a href="{% url 'home' %}?p_filter=-time" class="btn btn-dark">Time</a>
      {% endif %}
    </div>
    <div class="col mx-0 mb-2">
      {% if p_filter == "-rating" %}
        <button type="button" class="btn btn-dark active">Popularity</button>
      {% else %}
        <a href="{% url 'home' %}?p_filter=-rating" class="btn btn-dark">Popularity</a>
      {% endif %}
    </div>
    <div class="col mx-0 mb-2">
      {% if p_filter == "television" %}
        <button type="button" class="btn btn-dark active">Television</button>
      {% else %}
        <a href="{% url 'home' %}?p_filter=television" class="btn btn-dark">Television</a>
      {% endif %}
    </div>
    <div class="col mx-0 mb-2">
      {% if p_filter == "genre" %}
        <button type="button" class="btn btn-dark active">Genre</button>
      {% else %}
        <a href="{% url 'home' %}?p_filter=genre" class="btn btn-dark">Genre</a>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
<section>
  {% include 'snippets/home-program-list.html' with object_list=object_list p_filter=p_filter %}
</section>
{% endblock %}
