{% extends "base.html" %} 
{% load static %} 
{% block title %}Noah@Collection{% endblock %} 

{% block header %}
<section>
  <div class="text-center h1 title">Your collection Noah</div>
  <div class="row">
    <div class="col">
      <div class="bg-success color-box"></div>
      <span class="title">Ongoing</span>
    </div>
    <div class="col">
      <div class="bg-warning color-box"></div>
      <span class="title">Upcoming</span>
    </div>
    <div class="col">
      <div class="bg-danger color-box"></div>
      <span class="title">Ended</span>
    </div>
    <div class="col">
      <div class="bg-dark shadow color-box"></div>
      <span class="title">NotToday</span>
    </div>
  </div>
  <a href="{% url 'user-dashboard' %}" class="btn btn-dark shadow">Dashboard</a>
</section>
{% endblock %}


{% block content %}
  <section class="mt-3">
    {% for user_program in user_programs %}
    <div class="card mb-1 shadow border
      {% if  user_program.program.get_status == "Upcoming" %}
        border-warning
      {% elif user_program.program.get_status == "Ongoing" %}
        border-success
      {% elif user_program.program.get_status == "Ended" %}
        border-danger
      {% else %}
        border-dark
      {% endif %}
      ">
      <div class="row">
        <div class="col-3 col-md-2 mx-0 d-flex">
          <img
            src="{% static 'img.png' %}"
            class="img-fluid rounded"
            alt="..."
          />
        </div>
        <div class="col-9 col-md-10 mx-0">
          <h5 class="card-title title">{{user_program.program.name}}</h5>
          <div class="row">
            <div class="col">{{user_program.program.television}}</div>
            <div class="col">{{user_program.program.time}}</div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
</section>

{% endblock %}
