{% extends "base.html" %} 
{% load static %} 
{% block title %}{{request.user.username}}@Collection{% endblock %} 

{% block header %}
<section>
  <div class="text-center h1 title mb-3">{{request.user.username}}`s collection</div>
  <div class="row">
    <div class="col">
      <div class="bg-success color-box"></div>
      <span class="title">Ongoing</span>
    </div>
    <div class="col">
      <div class="bg-warning color-box"></div>
      <span class="title">Upcoming</span>
    </div>
    <div class="col">
      <div class="bg-danger color-box"></div>
      <span class="title">Ended</span>
    </div>
    <div class="col">
      <div class="bg-dark shadow color-box"></div>
      <span class="title">NotToday</span>
    </div>
  </div>
  <a href="{% url 'user-dashboard' %}" class="btn btn-dark shadow">Dashboard</a>
</section>
{% endblock %}


{% block content %}
  <style>
    .cstm-list-container {
      height: 0;
      position: relative;
      cursor: pointer;
    }

    .cstm-list-container .cstm-list-item {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      transform: translateY(-300px);
      transition: all 0.6s ease-out;
    }
    .cstm-list-container .cstm-list-item.show {
      opacity: 1;
      transform: translateY(0);
    }
  </style>

  <section class="mt-3 cstm-list">
    {% for user_program in user_programs %}
    <div class="cstm-list-container mb-2 show" id={{user_program.id}}>
    <div class="card mb-1 shadow border cstm-list-item show
      {% if  user_program.program.get_status == "Upcoming" %}
        border-warning
      {% elif user_program.program.get_status == "Ongoing" %}
        border-success
      {% elif user_program.program.get_status == "Ended" %}
        border-danger
      {% else %}
        border-dark
      {% endif %}
      ">
      <div class="row">
        <div class="col-3 col-md-2 mx-0 d-flex">
          <img
            src="{% static 'img.png' %}"
            class="img-fluid rounded"
            alt="..."
          />
        </div>
        <div class="col-9 col-md-10 mx-0">
          <h5 class="card-title title" onclick="viewProgram({{user_program.program.id}})">{{user_program.program.name}}</h5>
          <div class="row">
            <div class="col">{{user_program.program.television}}</div>
            <div class="col">
              <button class="icon-btn text-muted" type="button" onclick="userProgramCreateDelete({{user_program.id}},'DELETE',{{user_program.id}})"><i class="bi bi-trash h6"></i></button>
            </div>
            <div class="col">{{user_program.program.time}}</div>
          </div>
        </div>
      </div>
      </div>
    </div>
    {% endfor %}
  </section>
</section>
    <script>
      const list = document.querySelector(".cstm-list");
      const listItems = document.querySelectorAll(".cstm-list-item");
      
      function calculateHeightOfListContainer() {
        const firstListItem = listItems[0];
        firstListItem.style.transition = "none";
        firstListItem.style.transform = "none";
        firstListItem.style.opacity = "1";
        let heightOfListItem = firstListItem.clientHeight;
        firstListItem.style.transition = "";
        firstListItem.style.transform = "";
        firstListItem.style.opacity = "";
        const styleTag = document.createElement("style");
        document.body.prepend(styleTag);
        styleTag.innerHTML = `.cstm-list-container.show {
        height: ${heightOfListItem}px;
    }`;
        setTimeout(function () {
          styleTag.innerHTML += `.cstm-list-container {
            transition: all 0.6s ease-out;
        }`;
        }, 0);
      }
      calculateHeightOfListContainer();
      
      function removeListItem(e) {
        let container = document.getElementById(e);
        while (!container.classList.contains("cstm-list-container")) {
          container = container.parentElement;
        }
        container.classList.remove("show");
        const listItem = container.querySelector(".cstm-list-item");
        listItem.classList.remove("show");
        container.ontransitionend = function () {
          container.remove();
        };
      }

    </script>
  </body>
</html>
{% endblock %}
